<!doctype html>
<html>

<head>
    <title>
        Todo
    </title>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

</head>

<body ng-app="todo">
    <div class="container" ng-controller="myCtrl">
        <div class="col-lg-12 offset-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="{{placeholder}}" aria-label="Search for..." ng-model="add">
                <span class="input-group-btn">
                    <button class="btn btn-secondary my-btn" ng-click="addMe(add)" type="button">Add!</button>
                </span>
            </div>
            <ul class="list-group">
                <li ng-repeat="t in tasks" class="list-group-item" ng-class="'color' + ($index % 2)" ng-click="delete(t.item)">{{t.item}}</li>
            </ul>
        </div>

    </div>

    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="app.js"></script>
</body>

</html>