body {
    background-color: #202020;
    text-align: center;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

.input-group {
    margin-top: 40px;
}

.form-control {
    font-size: 25px;
}

.list-group {
    margin-top: 30px;
}

li {
    margin-top: 10px;
    border-radius: 5px;
}

li:hover {
    text-decoration: line-through;
}

.color0 {
    background-color: #383838;
}

.color1 {
    background-color: #484848;
}

.my-btn {
    margin-left: 5px !important;
    background-color: #484848;
    border: 1px solid white;
    border-radius: 4px !important;
}

.my-btn:hover {
    color: white;
}

.my-btn:focus {
    color: white;
}

.form-control {
    border-radius: 4px !important;
}